global:
  "exception-reporting":
    userId: "app-academy"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "linter-rubocop"
    ]
    audioBeep: false
  editor:
    fontSize: 14
    invisibles: {}
    preferredLineLength: 72
    showInvisibles: true
    showIndentGuide: true
  linter:
    lintOnFly: false
    ignoreVCSIgnoredFiles: false
    statusIconScope: "File"
    showErrorTabLine: true
    errorPanelHeight: 180
    showErrorPanel: false
    showErrorTabProject: false
  "linter-eslint":
    globalNodePath: "<%= HOME %>/.nvm/versions/node/v6.2.1"
    useGlobalEslint: true
  "linter-rubocop":
    executablePath: "<%= HOME %>/.rbenv/shims/rubocop"
  "markdown-preview":
    liveUpdate: false
