"*":
  core:
    audioBeep: false
    telemetryConsent: "no"
  editor:
    fontSize: 14
    invisibles: {}
    preferredLineLength: 72
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "app-academy"
  linter:
    errorPanelHeight: 180
    ignoreVCSIgnoredFiles: false
    lintOnFly: false
    showErrorPanel: false
    showErrorTabLine: true
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-eslint":
    globalNodePath: "<%= HOME %>/.nvm/versions/node/v6.2.1"
    useGlobalEslint: true
  "linter-rubocop":
    executablePath: "<%= HOME %>/.rbenv/shims/rubocop"
  "markdown-preview":
    liveUpdate: false
  welcome:
    showOnStartup: false
".text":
  editor:
    softWrap: true
