global:
  "exception-reporting":
    userId: "app-academy"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "linter-rubocop",
      "jshint"
    ]
    audioBeep: false
  editor:
    fontSize: 14
    invisibles: {}
    preferredLineLength: 72
    showInvisibles: true
    showIndentGuide: true
  jshint:
    supportLintingJsx: true
  linter:
    lintOnFly: false
    ignoreVCSIgnoredFiles: false
    statusIconScope: "File"
    showErrorTabLine: true
    errorPanelHeight: 180
    showErrorPanel: false
    showErrorTabProject: false
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-rubocop":
    executablePath: "/Users/appacademy/.rbenv/shims/rubocop"
  "markdown-preview":
    liveUpdate: false
