'global':
  'exception-reporting':
    'userId': '21845f4e-c7e6-a2b8-e774-0c52a99b442a'
  'welcome':
    'showOnStartup': false
  'linter':
    'lintOnChange': false
    'lintOnEditorFocus': false
  'editor':
    'fontSize': 14
    'invisibles': {}
  'core':
    'disabledPackages': [
      'linter-rubocop'
    ]
