global:
  "exception-reporting":
    userId: "app-academy"
  welcome:
    showOnStartup: true
  core:
    disabledPackages: [
      "jshint"
    ]
    audioBeep: false
  editor:
    fontSize: 14
    invisibles: {}
    preferredLineLength: 72
    showInvisibles: true
    showIndentGuide: true
  jshint:
    supportLintingJsx: true
  linter:
    ignoreVCSIgnoredFiles: false
    showErrorTabLine: true
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-rubocop":
    command: "/Users/appacademy/.rbenv/shims/rubocop"
